.button {
  width: 200px;
  height: 50px;
  margin: 20px;
  font-size: 20px;
  border-radius: 15px;
  cursor: pointer;
}

.button__added-to-card {
  background-color: burlywood;
  cursor: unset;
}

.button__add-to-card {
  background-color: green;
}
/*# sourceMappingURL=Button.css.map */