.btn{
  width: 200px;
  height: 50px;
  margin: 20px;
  font-size: 20px;
  border-radius: 15px;
  cursor: pointer;
  background-color: burlywood;
  &__added-to-card{
    background-color: gray;
  }




}

