.checkout{
    margin: 20px;
    &__block{
     margin-bottom: 10px;
    }
    &__field{
        display: block;

    }
    &__btn{
      border-radius: 10px;
        margin-top: 20px;
        height: 30px;
        width: 170px;
    }

}