.modal-container {
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.4);
  position: fixed;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.modal-content {
  border-radius: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-preferred-size: 25vw;
      flex-basis: 25vw;
  padding: 15px;
  font-size: 20px;
}

.modal-content__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 10px;
}

.modal-content__close-btn {
  position: relative;
  right: 20px;
  cursor: pointer;
}

.modal-content__close-btn:hover {
  opacity: 1;
}

.modal-content__close-btn::before, .modal-content__close-btn::after {
  position: absolute;
  content: ' ';
  height: 20px;
  width: 2px;
  background-color: #333;
}

.modal-content__close-btn::before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.modal-content__close-btn::after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.btn-container {
  padding-top: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.btn-ok {
  background-color: green;
}

.btn-cancel {
  background-color: aqua;
}

.btn-ok-second {
  background-color: darkgoldenrod;
}

.btn-cancel-second {
  background-color: firebrick;
}
/*# sourceMappingURL=Modal.css.map */